* {
    font-family: "Source" Sans Pro, sans-serif;
    margin: 20px;
  }
  h1{
      color: rgb(242, 118, 118);
      font-weight: 900;
      font-size: 2em;
  }
  h2{
      color: gray;
      font-weight: 900;
      font-size: 2em;
      text-align: center;
  }

.all > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
  label{
      border: 1px solid gray;
      border-radius: 30px;
      color: gray;
      text-align: center;
      width: 240px;
      font-weight: 400;
      padding: 20px;
      margin: 20px;
  }
    input[type=checkbox] {
    position: absolute;
    visibility: hidden;
  }
  input[type=checkbox]:checked + label {
    border: 1px solid rgb(16, 37, 99);
    background-color: rgb(16, 37, 99);
    color: white;
  }
  input[type=checkbox]:checked + label::after{
      content: "\2713";
      color: white;
      padding-left: 10px;
  }
  input[type="text"]{
        border: none;
        border-bottom: 1px solid rgb(211, 211, 211);
        padding: 10px;
        margin: 10px;
        width: 100%;
  }

  button{
      background-color: rgb(242, 118, 118);
      border: none;
      color: white;
      padding: 15px;
      font-weight: 700;
      font-size: 0.8em;
      width: 100%;
      margin: 20px;
  }
  button:hover {
    transition: 1s;
    background-color: rgb(16, 37, 99);
}
