    a{
    color: blue;
   }
    a[href="https://www.freecodecamp.org/"], a[href="https://www.sitemaps.org/"]{
    color: green;
   }

    li:nth-child(3)::before, li:nth-child(6)::before{
        color: green;
    }
        
    li::before{
    padding-right: 10px;
    content: '\00BB';
    text-decoration: underline;
    color: blue;
    }

    li:nth-child(7)::before, li:nth-child(9)::before{
        padding-right: 10px;
        content:  "\00D7";
        color: red;
    }

    li:nth-child(3)::after, li:nth-child(5)::after{
        content:  "\21D2";
        color: coral;
    }


    li:hover:nth-child(5)::after{
        content: "\2026 last symbol is 'a'";
        color: coral;
        font-style: italic;
        text-decoration: underline solid blue;
    }

        
    
    
    


